interactions:
- request:
    body: '{"name": "test_ls1", "tenantId": "default"}'
    headers:
      Content-type: [application/json]
    method: POST
    uri: https://pf-nsx-nsxm.rvichery.com:8443/api/2.0/vdn/scopes/vdnscope-3/virtualwires
  response:
    body: {string: !!python/unicode '{"details":"The requested object : vdnscope-3
        could not be found. Object identifiers are case sensitive.","errorCode":202,"moduleName":"core-services"}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
version: 1
