interactions:
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://pf-nsx-nsxm.rvichery.com:8443/api/2.0/vdn/virtualwires
  response:
    body: {string: !!python/unicode '{"dataPage":{"pagingInfo":{"pageSize":20,"startIndex":0,"totalCount":20,"sortOrderAscending":true},"data":[{"objectId":"virtualwire-1","objectTypeName":"VirtualWire","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":7,"type":{"name":"VirtualWire"},"name":"test_ls","description":"","clientHandle":"","extendedAttributes":[],"tenantId":"virtual
        wire tenant","vdnScopeId":"vdnscope-1","backing":[{"switchObj":{"objectId":"dvs-27","objectTypeName":"VmwareDistributedVirtualSwitch","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":39,"type":{"name":"VmwareDistributedVirtualSwitch"},"name":"Edge-VDS1","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]},"mtu":9000,"promiscuousMode":false,"backingType":"portgroup","backingValue":"dvportgroup-63"},{"switchObj":{"objectId":"dvs-13","objectTypeName":"VmwareDistributedVirtualSwitch","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":38,"type":{"name":"VmwareDistributedVirtualSwitch"},"name":"Compute-VDS1","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]},"mtu":9000,"promiscuousMode":false,"backingType":"portgroup","backingValue":"dvportgroup-64"}],"vdnId":5000,"multicastAddr":"239.0.0.0","guestVlanAllowed":false,"controlPlaneMode":"HYBRID_MODE"},{"objectId":"virtualwire-2","objectTypeName":"VirtualWire","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":9,"type":{"name":"VirtualWire"},"name":"interco_EdgeTrustZIA__DLR","description":"","clientHandle":"","extendedAttributes":[],"tenantId":"virtual
        wire tenant","vdnScopeId":"vdnscope-1","backing":[{"switchObj":{"objectId":"dvs-27","objectTypeName":"VmwareDistributedVirtualSwitch","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":39,"type":{"name":[...]
