interactions:
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://pf-nsx-nsxm.rvichery.com:8443/api/2.0/vdn/scopes
  response:
    body: {string: !!python/unicode '{"allScopes":[{"objectId":"vdnscope-1","objectTypeName":"VdnScope","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":3,"type":{"name":"VdnScope"},"name":"tz","description":"","clientHandle":"","extendedAttributes":[],"id":"vdnscope-1","clusters":{"clusters":[{"cluster":{"objectId":"domain-c9","objectTypeName":"ClusterComputeResource","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":41,"type":{"name":"ClusterComputeResource"},"name":"Edge","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]}},{"cluster":{"objectId":"domain-c165","objectTypeName":"ClusterComputeResource","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":23,"type":{"name":"ClusterComputeResource"},"name":"Compute02","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]}},{"cluster":{"objectId":"domain-c7","objectTypeName":"ClusterComputeResource","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":40,"type":{"name":"ClusterComputeResource"},"name":"Compute01","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]}}]},"virtualWireCount":23,"controlPlaneMode":"HYBRID_MODE"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
