interactions:
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://pf-nsx-nsxm.rvichery.com:8443/api/2.0/vdn/scopes/vdnscope-3/virtualwires
  response:
    body: {string: !!python/unicode '{"dataPage":{"pagingInfo":{"pageSize":20,"startIndex":0,"totalCount":1,"sortOrderAscending":true},"data":[{"objectId":"virtualwire-25","objectTypeName":"VirtualWire","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":2,"type":{"name":"VirtualWire"},"name":"ls_test_tz","description":"","clientHandle":"","extendedAttributes":[],"tenantId":"virtual
        wire tenant","vdnScopeId":"vdnscope-3","backing":[{"switchObj":{"objectId":"dvs-27","objectTypeName":"VmwareDistributedVirtualSwitch","vsmUuid":"4234CE32-678C-4A9E-3E66-8D309294123F","revision":39,"type":{"name":"VmwareDistributedVirtualSwitch"},"name":"Edge-VDS1","scope":{"id":"datacenter-2","objectTypeName":"Datacenter","name":"DC"},"clientHandle":"","extendedAttributes":[]},"mtu":9000,"promiscuousMode":false,"backingType":"portgroup","backingValue":"dvportgroup-3585"}],"vdnId":5016,"multicastAddr":"239.0.0.16","guestVlanAllowed":false,"controlPlaneMode":"HYBRID_MODE"}]}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
